body {
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: url('https://evandrobaginski.com/static/img/dog-login-6.jpeg');
  background-size: cover;
  background-position: 50% 50%;
}

.backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: url('https://evandrobaginski.com/static/img/dog-login-4.jpeg');
  background-size: cover;
  background-position: 50% 50%;
}

#dog-login-right{
    text-align: center;
    color: #282829;
    font-size: 40px;
    font-weight: 550;
    margin-top: 85% !important;
}

/*text-shadow: 2px 2px 2px black;*/
#dog-login{
    text-align: center;
    color: #282828;
    font-size: 40px;
    font-weight: bold;
    margin-top: 85% !important;
}

#back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

.left {
  width: 50%;
  height: 100%;
  background: white;
  left: 0;
  position: absolute;
}

.right {
  width: 50%;
  height: 100%;
  background: #282828;
  right: 0;
  position: absolute;
}

.content {
  width: 250px;
  margin: 0 auto;
  top: 30%;
  position: absolute;
  left: 50%;
  margin-left: -125px;
}

.content h2 {
  color: #027aba;
  font-weight: 300;
  font-size: 35px;
}

button {
  background: #027aba;
  padding: 10px 16px;
  width: auto;
  font-weight: 600;
  text-transform:  uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border: 0;
  outline: 0;
  margin: 15px 15px 15px 0;
  transition: all 0.25s;
}

button:hover {
  background: #03A9F4;
  box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}
.off {
  background: none;
  color: #027aba;
  box-shadow: none;
}

.right .off:hover {
  background: #eee;
  color: #03A9F4;
  box-shadow: none;
}
.left .off:hover {
  box-shadow: none;
  color: #03A9F4;
  background: #363A3D;
}
input {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #45494C;
  font-size: 14px;
  color: #959595;
  padding: 8px 0;
  margin-top: 20px;
}

.form-label{
    background: transparent;
    color: white;
}

#errors-register-form li {
    display: inline-block;
    color:#027aba;
    list-style: none !important;
}

#errors-register-form ul {
    display: contents !important;
}

@media(max-width: 768px) {
    #slideBox {
        margin: 0 !important;
        width: 100% !important;
    }
}