{% extends "mywebsite_app/base.html" %}

{% block assets %}
  {% load static %}
  <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock assets %}

{% block content %}
  <div id="back">
    <div class="backRight"></div>
    <div class="backLeft">
      <div id="dog-login">A human face, here?</div>
    </div>
  <div id="slideBox">
    <div class="topLayer">
      <div class="left">
        <div class="content">
          <h2>Sign Up</h2>
          <form id="register-form" method="POST" action="{% url 'users:register' %}">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="username" placeholder="username" />
            </div>
            <div class="form-group">
              <input type="password" name="password1" placeholder="password" />
            </div>
            <div class="form-group">
              <input type="password" name="password2" placeholder="verify password" />
            </div>
            <div class="form-group"></div>
            <div class="form-group"></div>
            <div class="form-group"></div>
          </form>
          <button id="goLeft" class="off">Login</button>
          <button form="register-form" type="submit">Sign up</button>
          <input type="hidden" name="next" value="{% url 'mywebsite_app:index' %}" />
        </div>
      </div>
      <div class="right">
        <div class="content">
          <h2>Login</h2>
          <form id="login-form" method="post" action="{% url 'users:login' %}">
            {% if form.errors %}
              <p style="color: white;">Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% csrf_token %}
            <div class="form-group">
<!--              <label for="username" class="form-label">Username</label>-->
              <input name="username" type="text" placeholder="username" />
<!--              <label for="password" class="form-label">Password</label>-->
              <input name="password" type="password" placeholder="password"/>
            </div>
            <input type="hidden" name="next" value="{% url 'mywebsite_app:index' %}" />
          </form>
          <button id="login" name="submit" form="login-form">Log in</button>
          <button id="goRight" class="off">Sign Up</button>

        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static "js/scripts.js" %}"></script>
{% endblock content %}




<!--Inspiration from: http://ertekinn.com/loginsignup/-->